<header class="jumbotron">
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%= user.name %></p> 
</header>

<%= console.log(user) %>



<a href="/employees" class="btn btn-secondary">Check Employees</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
