<header class="jumbotron">
    <h1 class="mt-4">All Complaints</h1>
</header>

<%= console.log(list) %>

<%- include ("./partials/messages") %>
<div class="container">
    <div class="row">
        <% if (list.length > 0){ %>
            <% list.forEach(function(row){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="card">   <!-- card-deck" -->
                        <img class="card-img-top" src="/uploads/<%= row.fileName %>" alt="">
                        <div class="card-body">
                            <h4 class="card-title"><%= row.name %></h4>
                            <a href="#" class="btn btn-primary stretched-link">See More</a>
                        </div>
                    </div>
                </div>        
            <% }) %>
        <% }else{ %>            
            <span>No Record Found</span>     
        <% } %>
    </div>
</div>


        
        
   


<a href="/complaints/" class="btn btn-secondary">Toggle View</a>
<a href="/complaints/former" class="btn btn-secondary">Refresh</a> 